{% extends 'emails/base_email.html' %}

{% block title %}Reset Your Password - {{ site_name }}{% endblock %}

{% block content %}
<div class="greeting">
    Password Reset Request
</div>

<div class="message">
    Hi {{ user.first_name|default:user.username }},
</div>

<div class="message">
    We received a request to reset your password for your {{ site_name }} account.
</div>

<div class="btn-container">
    <a href="{{ reset_url }}" class="btn">Reset Password</a>
</div>

<div class="message">
    This link will expire in 24 hours for security reasons.
</div>

<div class="message">
    If you didn't request this password reset, please ignore this email. Your password will remain unchanged.
</div>

<div class="message">
    For security, this link can only be used once. If you need to reset your password again, please request a new reset link.
</div>
{% endblock %}